body {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400px;
  line-height: 1.7;
  color: $color-grey-dark;
  background-color: $color-body-background;
}

.logo-text {
  font-size: 4rem;
  font-weight: 700;
  color: transparent;
  text-decoration: none;

  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.heading-primary {
  display: grid;
  gap: 0 7rem;
  grid-template-columns: repeat(2, 25%);
  justify-content: center;
  align-content: center;

  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: inline-block;
    grid-column-start: 1;
    margin-right: 5rem;

    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 2rem;

    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: inline-block;
    grid-column-start: 2;
    grid-row-start: 3;

    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;

    opacity: 0;
    visibility: hidden;

    transform: rotate(270deg);

    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

.heading-secondary {
  display: inline-block;

  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;

  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;

  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.section__question-box--text {
  font-size: $default-font-size;
}