// --- COLORS ---
$color-primary: #B886AB;
$color-primary-light:#DCABC1;
$color-primary-dark: #987093;

$color-body-background: #F8F7F3;

$color-grey-dark: #777;
$color-grey-light: #eee;
$color-grey-ligh-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #00000033;

$color-secondary-light: #A5E9DA;
$color-secondary-dark: #54B3B7;

$color-tertiary-light: #D97472;
$color-tertiary-dark: #E50E4D;

// FONT-SIZES
$default-font-size: 2rem;