.btn {
  display: inline-block;

  font-size: $default-font-size;
  border-radius: 10rem;

  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem $color-black;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem $color-black;
  }

  &__img {
    width: 80%;
    transition: opacity 0.5s;
  }

  &--close {
    margin-left: 19rem;
  }

  &--submit {
    color: $color-white;
    font-weight: 700;

    border: 0.2rem solid $color-black;
    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
  }

  &--next {
    margin: 0 auto;
    margin-top: 7rem;

    color: $color-white;
    font-weight: 700;

    border: 0.2rem solid $color-black;
    background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
  }
}