.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    width: 70%;

    padding: 3rem;

    font-size: $default-font-size;
    color: $color-primary-dark;
    border: 2px solid $color-tertiary-light;
    background-color: rgba($color-tertiary-light, 0.1);
    border-radius: 3rem;
  }
}

.map {
  width: 90%;
  margin: 0 auto;
}